body{
    background: rgb(233, 222, 222)
}
p{
    color: brown;
    text-align: center;

   
}
form{
        background: white;
        /* background: rgba(255,255,255,0.7); */
        box-shadow: inset 0px 0px 20px white;
        /* width: 500px; */
    }

input{
    box-shadow: inset 0px 0px 20px rgb(206, 200, 200);
    background: rgba(255,255,255,0.3);
    box-sizing: border-box;
    outline: none;
}

label{
    box-shadow: inset 0px 0px 20px white;
    background: rgba(255,255,255,0.3);
    box-sizing: border-box;
     
}