.jog{
    background: rgb(19, 19, 139);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
img{
    height: fit-content;
    width: 50px;
}

/* ol{
    list-style: none;

} */
.foot{
    margin: 10px;
    height: fit-content;
    flex-direction: row;
    list-style: none;
}
.all{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0px;
    height: fit-content;
}
.all a{
    color: white;
}

button{
    background: lightblue;
    border: none;
    border-radius: 10px;
    color: white;
    margin: 10px;
    padding: 10px;

}

.oil{
    /* background: white; */
}

.spa2 {
    color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}